{% extends "index.html" %}

<head>
    {% block head %}
    {{ super() }}
    <title>Building...</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/tntStyles.css')}}">
    {% endblock %}
</head>

    {% block content %}
        <div id="tnt">
            {% for char in explosives %}
                <p class="explosives">
                    {{char}}
                </p>
            {% endfor %}
            <div id="open-box">
                <span>S</span>
                <span>A</span>
                <span>n</span>
                <span>D</span>
            </div>
        </div>
        <script src="{{url_for('static',filename='scripts/tntScript.js')}}"></script>
    {% endblock %}
